---
layout: default
---

    {% for post in paginator.posts %}
<div class="konten">
        <ion-card>
        <img src="{{ post.image }}" alt="{{ post.title }}" />
        <ion-card-header>
      <ion-card-title class="title-post">{{ post.title }}</ion-card-title>
        </ion-card-header>

      <ion-card-content>
        {{ post.excerpt }}

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more"><ion-chip color="primary">Read More</ion-chip></a>
      </ion-card-content>
        </ion-card>
</div>
  {% endfor %}

{% if paginator.total_pages > 1 %}<!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %} <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="back">
        <ion-chip color="secondary">
<ion-icon name="chevron-back-outline"></ion-icon>
          <ion-label>Newer Posts</ion-label>
        </ion-chip></a> {% endif %}
    {% if paginator.next_page %} <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">
        <ion-chip color="secondary">
          <ion-label>Older Posts</ion-label>
<ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-chip></a>{% endif %}
  </div>{% endif %}
